@{
    ViewBag.Title = "TypeaheadTest";
}
<script type="text/javascript" src="~/Scripts/typeahead.bundle.js"></script>
<h2>TypeaheadTest</h2>
<div class="example">
    <h2>Ajax及时获取数据示例</h2>
    <div id="ajax-remote-example">
        <input class="typeahead" type="text" placeholder="请输入城市">
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {  //远程数据源
        var remote_cities = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('CityName'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            // 在文本框输入字符时才发起请求 '/Test/GetCities?q=%QUERY'
            remote: {
                url: '/Test/GetCities?q=%QUERY',
                wildcard: '%QUERY'
            },
        });

        remote_cities.initialize();

        $('#ajax-remote-example .typeahead').typeahead(null, {
            name: 'cities',
            displayKey: 'CityName',
            source: remote_cities.ttAdapter(),
        });
    });

</script>
