@{
    ViewBag.Title = "产品详细";
}

<div class="jumbotron">
    <h1>51ICD</h1>
    <p>
        随着医疗改革的深入，基于DRGs的医保付费和医疗质量评测体系也已经在全国范围内逐步展开；而病案质控和病案首页的准确编码是推广和应用DRGs的重中之重。
    </p>
    <p>
        51ICD编码平台提供了基于脱敏病案的病案首页形式质控和病案首页编码等服务，基于云端为质控和编码能力不足或者峰值能力不足的医院提供专业的相关服务，节约院方运营成本，提供病案整体质量，拥抱DRGs的推广和新医改的深化。
    </p>
</div>
<div class="row">
    <div class="col-md-12">
        <a name="kk1" id="kk1" class="anchor"></a>
        <h2>病案首页形式质控</h2>
        <p>
            现在病案室医生很大一部分精力都在病案首页的缺失项和简单逻辑错误项的检查上面，这种简单重复的体力劳动使得病案医生没有更多的精力放到专业的病案内容质控，编码和基于高质量的病案首页数据进行统计分析对医院的经营决策提供更权威的建议和意见。
        </p>
        <p>
            51ICD除提供简单的缺项检查外，通过维护一个简单逻辑的知识库，此处的简单逻辑指不需要专业的医学知识就能判断出来的逻辑，比如性别与有些诊断不能同时出现等；由于是基于云端维护的知识库，是一个增量的过程，一种新知识的增加惠及所有接入平台的医院。
        </p>
        <p>@Html.ActionLink("去试试 >>", "ShowDetail", "Home", new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-12">
        <a name="kk2" id="kk2" class="anchor"></a>
        <h2>病案内容形式质控</h2>
        <p>指对病案内的项目进行的简单逻辑缺项检查和病历项目排序</p>
        <p>病案内项目简短逻辑缺项检查是维护一个针对于病案项目的的知识库，根据病案项目的依赖关系，确定哪些项目缺失，比如缺失病程记录，体温单等。</p>
        <p>病历项目排序</p>
        <p>@Html.ActionLink("去试试 >>", "ShowDetail", "Home", new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-12">
        <a name="kk3" id="kk3" class="anchor"></a>
        <h2>病案首页编码服务</h2>
        <div>
            <p>
                主要针对于影响DRGs入组的各个项目主要诊断，次要诊断，并发症，合并症，主要操作，次要操作等进行精确选择和补充，上述各项以建议的方式给出，提高DRGs入组的准确和精确。
            </p>
            <p>
                上述各项是基于通读病历的各个内容给出的合理建议，其中并发症和合并症以次要诊断的形式给出。
            </p>
            <p>
                右图形象的提现了上述编码结果对DRGs入组的影响，精确的编码结果能够更精确的落入到合适的DRGs的组合中，对医疗报销和相关评测例如CMI等产生巨大的影响。
            </p>
        </div>
        <div class="col-md-7">
            <img src="~/Img/DRGsEP.jpg" width="300" height="300" class="img-responsive" alt="Responsive image">
        </div>
    </div>
</div>

