@{
    ViewBag.Title = "产品详细";
}

<div class="row">
    <div class="jumbotron" id="First">
        <h1>51ICD</h1>
        <p>
            是一个基于<span class="label label-warning">去隐私化的病案</span>提供不同病案质控服务的平台，可以根据医院的现状提供差别化的病案质控服务。自动化的形式质控使现在病案室的医生从大量重复的体力劳动中解放出来；
            基于内容的首页编码服务一方面提供现有病案的数据完整性和可靠性，另一方面也可与现有编码医生进行相互学习和提高，解决病案峰值的压力，保证编码质量。sadfasdsassdfsadddasdljfasjdlkfjasldkf撒锻炼腹肌啊是家里都快放假啊老师都是辣的客服经理卡死dslfjasldkfjlaskdjflaksjdf啊是锻炼腹肌啊睡了多久了士大夫拉升阶段了放假啊收到了死定了房间啊是锻炼腹肌啊是六点就发生
            sdlfjasldkjflasdjflasdjflasjdlaskdfaslasdlfjasldkjjjjjjjkkkkkkkkk是的链接客服啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦撒旦立刻法啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊就
            sdlkjjjjjjjjjjjjjjjjjjjjjj
        </p>
    </div>
    <div class="col-md-12" id="1">
        <h2>病案首页形式质控</h2>
        <p>
            不仅仅提供简单的缺项检查，还会自动完成简单的一些逻辑上非专业知识的质控，解放病案室医生的体力劳动，使他们把更多的精力放到能应用专业技能的工作上来.
        </p>
    </div>
    <div class="col-md-12" id="2">
        <h2 id="3">病案内容形式质控</h2>
        <p >病案内容项目缺项检查和排序，保证病案内容的完整性，为后续的编码服务提供基础的数据完整性保证</pid>
    </div>
    <div class="col-md-12" >
        <h2>病案首页编码服务</h2>
        <p>为由编码需求的医院和有资质、能力的编码员搭建的一个服务供需平台，提高医院的编码质量的同时为有专业技能的编码员提供了一个新的提现能力价值的平台，达到双赢甚至多赢的局面.提供不同病案质控服务的平台，可以根据医院的现状提供差别化的病案质控服务。自动化的形式质控使现在病案室的医生从大量重复的体力劳动中解放出来；
            基于内容的首页编码服务一方面提供现有病案的数据完整性和可靠性，另一方面也可与现有编码医生进行相互学习和提高，解决病案峰值的压力，保证编码质量。sadfasdsassdfsadddasdljfasjdlkfjasldkf撒锻炼腹肌啊是家里都快放假啊老师都是辣的客服经理卡死dslfjasldkfjlaskdjflaksjdf啊是锻炼腹肌啊睡了多久了士大夫拉升阶段了放假啊收到了死定了房间啊是锻炼腹肌啊是六点就发生
            sdlfjasldkjflasdjflasdjflasjdlaskdfaslasdlfjasldkjjjjjjjkkkkkkkkk是的链接客服啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦撒旦立刻法啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊就
            sdlkjjjjjjjjjjjjjjjjjjjjjjsadfasdsassdfsadddasdljfasjdlkfjasldkf撒锻炼腹肌啊是家里都快放假啊老师都是辣的客服经理卡死dslfjasldkfjlaskdjflaksjdf啊是锻炼腹肌啊睡了多久了士大夫拉升阶段了放假啊收到了死定了房间啊是锻炼腹肌啊是六点就发生
            sdlfjasldkjflasdjflasdjflasjdlaskdfaslasdlfjasldkjjjjjjjkkkkkkkkk是的链接客服啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦撒旦立刻法啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊就
            sdlkjjjjjjjjjjjjjjjjjjjjjjsadfasdsassdfsadddasdljfasjdlkfjasldkf撒锻炼腹肌啊是家里都快放假啊老师都是辣的客服经理卡死dslfjasldkfjlaskdjflaksjdf啊是锻炼腹肌啊睡了多久了士大夫拉升阶段了放假啊收到了死定了房间啊是锻炼腹肌啊是六点就发生
            sdlfjasldkjflasdjflasdjflasjdlaskdfaslasdlfjasldkjjjjjjjkkkkkkkkk是的链接客服啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦撒旦立刻法啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊就
            sdlkjjjjjjjjjjjjjjjjjjjjjjsadfasdsassdfsadddasdljfasjdlkfjasldkf撒锻炼腹肌啊是家里都快放假啊老师都是辣的客服经理卡死dslfjasldkfjlaskdjflaksjdf啊是锻炼腹肌啊睡了多久了士大夫拉升阶段了放假啊收到了死定了房间啊是锻炼腹肌啊是六点就发生
            sdlfjasldkjflasdjflasdjflasjdlaskdfaslasdlfjasldkjjjjjjjkkkkkkkkk是的链接客服啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦撒旦立刻法啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊就
            sdlkjjjjjjjjjjjjjjjjjjjjjjsadfasdsassdfsadddasdljfasjdlkfjasldkf撒锻炼腹肌啊是家里都快放假啊老师都是辣的客服经理卡死dslfjasldkfjlaskdjflaksjdf啊是锻炼腹肌啊睡了多久了士大夫拉升阶段了放假啊收到了死定了房间啊是锻炼腹肌啊是六点就发生
            sdlfjasldkjflasdjflasdjflasjdlaskdfaslasdlfjasldkjjjjjjjkkkkkkkkk是的链接客服啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦撒旦立刻法啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊就
            sdlkjjjjjjjjjjjjjjjjjjjjjjsadfasdsassdfsadddasdljfasjdlkfjasldkf撒锻炼腹肌啊是家里都快放假啊老师都是辣的客服经理卡死dslfjasldkfjlaskdjflaksjdf啊是锻炼腹肌啊睡了多久了士大夫拉升阶段了放假啊收到了死定了房间啊是锻炼腹肌啊是六点就发生
            sdlfjasldkjflasdjflasdjflasjdlaskdfaslasdlfjasldkjjjjjjjkkkkkkkkk是的链接客服啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦撒旦立刻法啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊就
            sdlkjjjjjjjjjjjjjjjjjjjjjjsadfasdsassdfsadddasdljfasjdlkfjasldkf撒锻炼腹肌啊是家里都快放假啊老师都是辣的客服经理卡死dslfjasldkfjlaskdjflaksjdf啊是锻炼腹肌啊睡了多久了士大夫拉升阶段了放假啊收到了死定了房间啊是锻炼腹肌啊是六点就发生
            sdlfjasldkjflasdjflasdjflasjdlaskdfaslasdlfjasldkjjjjjjjkkkkkkkkk是的链接客服啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦撒旦立刻法啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊就
            sdlkjjjjjjjjjjjjjjjjjjjjjjsadfasdsassdfsadddasdljfasjdlkfjasldkf撒锻炼腹肌啊是家里都快放假啊老师都是辣的客服经理卡死dslfjasldkfjlaskdjflaksjdf啊是锻炼腹肌啊睡了多久了士大夫拉升阶段了放假啊收到了死定了房间啊是锻炼腹肌啊是六点就发生
            sdlfjasldkjflasdjflasdjflasjdlaskdfaslasdlfjasldkjjjjjjjkkkkkkkkk是的链接客服啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦撒旦立刻法啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊就
            sdlkjjjjjjjjjjjjjjjjjjjjjjsadfasdsassdfsadddasdljfasjdlkfjasldkf撒锻炼腹肌啊是家里都快放假啊老师都是辣的客服经理卡死dslfjasldkfjlaskdjflaksjdf啊是锻炼腹肌啊睡了多久了士大夫拉升阶段了放假啊收到了死定了房间啊是锻炼腹肌啊是六点就发生
            sdlfjasldkjflasdjflasdjflasjdlaskdfaslasdlfjasldkjjjjjjjkkkkkkkkk是的链接客服啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦撒旦立刻法啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊就
            sdlkjjjjjjjjjjjjjjjjjjjjjjsadfasdsassdfsadddasdljfasjdlkfjasldkf撒锻炼腹肌啊是家里都快放假啊老师都是辣的客服经理卡死dslfjasldkfjlaskdjflaksjdf啊是锻炼腹肌啊睡了多久了士大夫拉升阶段了放假啊收到了死定了房间啊是锻炼腹肌啊是六点就发生
            sdlfjasldkjflasdjflasdjflasjdlaskdfaslasdlfjasldkjjjjjjjkkkkkkkkk是的链接客服啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦撒旦立刻法啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊就
            sdlkjjjjjjjjjjjjjjjjjjjjjjsadfasdsassdfsadddasdljfasjdlkfjasldkf撒锻炼腹肌啊是家里都快放假啊老师都是辣的客服经理卡死dslfjasldkfjlaskdjflaksjdf啊是锻炼腹肌啊睡了多久了士大夫拉升阶段了放假啊收到了死定了房间啊是锻炼腹肌啊是六点就发生
            sdlfjasldkjflasdjflasdjflasjdlaskdfaslasdlfjasldkjjjjjjjkkkkkkkkk是的链接客服啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦撒旦立刻法啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊就
            sdlkjjjjjjjjjjjjjjjjjjjjjj</p>
            </div>
</div>

