@{
    ViewBag.Title = "产品详细";
}

<div class="row">
    <div class="jumbotron" id="First">
        <h1>51ICD</h1>
        <p>
            随着医疗改革的深入，基于DRGs的医保付费和医疗质量评测体系也已经在全国范围内逐步展开；而病案质控和病案首页的准确编码是推广和应用DRGs的重中之重。
        </p>
        <p>
            51ICD编码平台提供了基于脱敏病案的病案首页形式质控和病案首页编码等服务，基于云端为质控和编码能力不足或者峰值能力不足的医院提供专业的相关服务，节约院方运营成本，提供病案整体质量，拥抱DRGs的推广和新医改的深化。
        </p>
    </div>
    <div class="col-md-12">
        <a name="kk1" id="kk1" class="anchor"></a>
        <h2>病案首页形式质控</h2>
        <p>
            现在病案室医生很大一部分精力都在病案首页的缺失项和简单逻辑错误项的检查上面，这种简单重复的体力劳动使得病案医生没有更多的精力放到专业的病案内容质控，编码和基于高质量的病案首页数据进行统计分析对医院的经营决策提供更权威的建议和意见。
        </p>
        <p>
            51ICD除提供简单的缺项检查外，通过维护一个简单逻辑的知识库，此处的简单逻辑指不需要专业的医学知识就能判断出来的逻辑，比如性别与有些诊断不能同时出现等；由于是基于云端维护的知识库，是一个增量的过程，一种新知识的增加惠及所有接入平台的医院。
        </p>
    </div>
    <div class="col-md-12" id="2">
        <a name="kk2" id="kk2" class="anchor"></a>
        <h2>病案内容形式质控</h2>
        <p>指对病案内的项目进行简单的逻辑缺项检查和排序，</p>
    </div>
    <div class="col-md-12" id="3">
        <a name="kk3" id="kk3" class="anchor"></a>
        <h2>病案首页编码服务</h2>
        <p>
            为由编码需求的医院和有资质、能力的编码员搭建的一个服务供需平台，提高医院的编码质量的同时为有专业技能的编码员提供了一个新的提现能力价值的平台，达到双赢甚至多赢的局面.提供不同病案质控服务的平台，可以根据医院的现状提供差别化的病案质控服务。自动化的形式质控使现在病案室的医生从大量重复的体力劳动中解放出来；
            基于内容的首页编码服务一方面提供现有病案的数据完整性和可靠性，另一方面也可与现有编码医生进行相互学习和提高，解决病案峰值的压力，保证编码质量。sadfasdsassdfsadddasdljfasjdlkfjasldkf撒锻炼腹肌啊是家里都快放假啊老师都是辣的客服经理卡死dslfjasldkfjlaskdjflaksjdf啊是锻炼腹肌啊睡了多久了士大夫拉升阶段了放假啊收到了死定了房间啊是锻炼腹肌啊是六点就发生
            sdlfjasldkjflasdjflasdjflasjdlaskdfaslasdlfjasldkjjjjjjjkkkkkkkkk是的链接客服啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦撒旦立刻法啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊就
            sdlkjjjjjjjjjjjjjjjjjjjjjjsadfasdsassdfsadddasdljfasjdlkfjasldkf撒锻炼腹肌啊是家里都快放假啊老师都是辣的客服经理卡死dslfjasldkfjlaskdjflaksjdf啊是锻炼腹肌啊睡了多久了士大夫拉升阶段了放假啊收到了死定了房间啊是锻炼腹肌啊是六点就发生
            sdlfjasldkjflasdjflasdjflasjdlaskdfaslasdlfjasldkjjjjjjjkkkkkkkkk是的链接客服啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦撒旦立刻法啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊就
            sdlkjjjjjjjjjjjjjjjjjjjjjjsadfasdsassdfsadddasdljfasjdlkfjasldkf撒锻炼腹肌啊是家里都快放假啊老师都是辣的客服经理卡死dslfjasldkfjlaskdjflaksjdf啊是锻炼腹肌啊睡了多久了士大夫拉升阶段了放假啊收到了死定了房间啊是锻炼腹肌啊是六点就发生
            sdlfjasldkjflasdjflasdjflasjdlaskdfaslasdlfjasldkjjjjjjjkkkkkkkkk是的链接客服啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦撒旦立刻法啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊就
            sdlkjjjjjjjjjjjjjjjjjjjjjjsadfasdsassdfsadddasdljfasjdlkfjasldkf撒锻炼腹肌啊是家里都快放假啊老师都是辣的客服经理卡死dslfjasldkfjlaskdjflaksjdf啊是锻炼腹肌啊睡了多久了士大夫拉升阶段了放假啊收到了死定了房间啊是锻炼腹肌啊是六点就发生
            sdlfjasldkjflasdjflasdjflasjdlaskdfaslasdlfjasldkjjjjjjjkkkkkkkkk是的链接客服啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦撒旦立刻法啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊就
            sdlkjjjjjjjjjjjjjjjjjjjjjjsadfasdsassdfsadddasdljfasjdlkfjasldkf撒锻炼腹肌啊是家里都快放假啊老师都是辣的客服经理卡死dslfjasldkfjlaskdjflaksjdf啊是锻炼腹肌啊睡了多久了士大夫拉升阶段了放假啊收到了死定了房间啊是锻炼腹肌啊是六点就发生
            sdlfjasldkjflasdjflasdjflasjdlaskdfaslasdlfjasldkjjjjjjjkkkkkkkkk是的链接客服啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦撒旦立刻法啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊就
            sdlkjjjjjjjjjjjjjjjjjjjjjjsadfasdsassdfsadddasdljfasjdlkfjasldkf撒锻炼腹肌啊是家里都快放假啊老师都是辣的客服经理卡死dslfjasldkfjlaskdjflaksjdf啊是锻炼腹肌啊睡了多久了士大夫拉升阶段了放假啊收到了死定了房间啊是锻炼腹肌啊是六点就发生
            sdlfjasldkjflasdjflasdjflasjdlaskdfaslasdlfjasldkjjjjjjjkkkkkkkkk是的链接客服啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦撒旦立刻法啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊就
            sdlkjjjjjjjjjjjjjjjjjjjjjjsadfasdsassdfsadddasdljfasjdlkfjasldkf撒锻炼腹肌啊是家里都快放假啊老师都是辣的客服经理卡死dslfjasldkfjlaskdjflaksjdf啊是锻炼腹肌啊睡了多久了士大夫拉升阶段了放假啊收到了死定了房间啊是锻炼腹肌啊是六点就发生
            sdlfjasldkjflasdjflasdjflasjdlaskdfaslasdlfjasldkjjjjjjjkkkkkkkkk是的链接客服啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦撒旦立刻法啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊就
            sdlkjjjjjjjjjjjjjjjjjjjjjjsadfasdsassdfsadddasdljfasjdlkfjasldkf撒锻炼腹肌啊是家里都快放假啊老师都是辣的客服经理卡死dslfjasldkfjlaskdjflaksjdf啊是锻炼腹肌啊睡了多久了士大夫拉升阶段了放假啊收到了死定了房间啊是锻炼腹肌啊是六点就发生
            sdlfjasldkjflasdjflasdjflasjdlaskdfaslasdlfjasldkjjjjjjjkkkkkkkkk是的链接客服啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦撒旦立刻法啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊就
            sdlkjjjjjjjjjjjjjjjjjjjjjjsadfasdsassdfsadddasdljfasjdlkfjasldkf撒锻炼腹肌啊是家里都快放假啊老师都是辣的客服经理卡死dslfjasldkfjlaskdjflaksjdf啊是锻炼腹肌啊睡了多久了士大夫拉升阶段了放假啊收到了死定了房间啊是锻炼腹肌啊是六点就发生
            sdlfjasldkjflasdjflasdjflasjdlaskdfaslasdlfjasldkjjjjjjjkkkkkkkkk是的链接客服啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦撒旦立刻法啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊就
            sdlkjjjjjjjjjjjjjjjjjjjjjjsadfasdsassdfsadddasdljfasjdlkfjasldkf撒锻炼腹肌啊是家里都快放假啊老师都是辣的客服经理卡死dslfjasldkfjlaskdjflaksjdf啊是锻炼腹肌啊睡了多久了士大夫拉升阶段了放假啊收到了死定了房间啊是锻炼腹肌啊是六点就发生
            sdlfjasldkjflasdjflasdjflasjdlaskdfaslasdlfjasldkjjjjjjjkkkkkkkkk是的链接客服啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦撒旦立刻法啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊就
            sdlkjjjjjjjjjjjjjjjjjjjjjjsadfasdsassdfsadddasdljfasjdlkfjasldkf撒锻炼腹肌啊是家里都快放假啊老师都是辣的客服经理卡死dslfjasldkfjlaskdjflaksjdf啊是锻炼腹肌啊睡了多久了士大夫拉升阶段了放假啊收到了死定了房间啊是锻炼腹肌啊是六点就发生
            sdlfjasldkjflasdjflasdjflasjdlaskdfaslasdlfjasldkjjjjjjjkkkkkkkkk是的链接客服啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦撒旦立刻法啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊就
            sdlkjjjjjjjjjjjjjjjjjjjjjj
        </p>
    </div>
</div>

