@{
    ViewBag.Title = "帮助";
}
<h2>@ViewBag.Title</h2>

<p>51ICD是影研科技致力于病案质量控制的服务平台，努力打造一个集病案首页、病案内容和首页编码全方位的，涵盖形式上、简单逻辑和专业编码的质控供需平台。</p>
<p>平台正在内部测试中，现诚招首批内测用户，内测用户会获得更高的编码收益，名额有限，望有志于提高国内病案质量的同仁和专家老师，速速联系我们：</p>
<p>邮箱：51icd@docimax.com.cn</p>
