@{
    ViewBag.Title = "帮助";
}
<h2>@ViewBag.Title</h2>

<p>51ICD是影研科技致力于病案质量控制的服务平台，努力打造一个及病案首页、病案内容和首页编码的含形式上、简单逻辑和专业的医学知识为基础的编码服务的服务供需平台。</p>
<p>平台正在内部测试中，如果您有意向，请联系我们：</p>
<p>邮箱：51icd@docimax.com.cn</p>
